main{
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: grid;
}
a{
  text-decoration: none;
}
.descricao span{
color: #737373;
}
.btn a {
  color: #FFF;
}

article{
  margin-top: 400px;
  width: 705px;
  height: 205px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 6px rgb(5 20 41 / 6%), 0 4px 6px rgb(5 20 41 / 8%);
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: left;
  padding: 10px;

}
.titulo{
  font-size: 20px;
}